.toast-container {
  display: flex;
  flex-direction: column;
  gap: var(--tds-spacing-element-8);
  position: fixed;
  right: var(--tds-spacing-element-32);
  bottom: var(--tds-spacing-element-32);

  tds-toast {
    position: initial;
  }
}
