.toast-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.toast-absolute {
    position: fixed;
    right: 32px;
    bottom: 32px;
}

#error-toast-example {
    bottom: 110px;
}

#information-toast-example {
    bottom: 165px;
}

#warning-toast-example {
    bottom: 220px;
}
