input {
  padding-left: var(--tds-spacing-element-16);
  height: 48px;
  border-radius: none;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid transparent;
}

input:focus {
  outline: none;
  background-color: white;
  border-bottom: 2px solid var(--tds-text-field-bar);
}
