@import url('./reset.css');
@import url('@scania/tegel/dist/tegel/tegel.css');

body {
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 650px) {
  .tabs {
    width: 300px;
    margin: auto;
  }
}

@media screen and (max-width: 992px) {
  .mobile-nav-item {
    display: block;
  }
}
