@import url('@scania/tegel/dist/tegel/tegel.css');
@import url('https://cdn.digitaldesign.scania.com/icons/webfont/css/sdds-icons.css');

html,
body,
.App,
#root{
    height: 100%;
    overflow-y: auto;
  }

.App {
    display: flex;
    flex-direction: column;
}

.App.sdds-mode-light {
    background-color: var(--sdds-white);
}

.App.sdds-mode-dark {
    background-color: var(--sdds-black);
}

.mode-switcher {
    position: absolute;
    height: 60px;
    top: 96px;
    right: 32px;
}

.container {
    display: flex;

}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 32px;
    max-width: 600px;
    justify-content: center;
    margin: 0 auto;
    padding: 128px 0;
}
.popover-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.tooltip-container {
     display: flex;
     justify-content: center;
     align-items: center;
}

.tooltip-paragraph b, i{
    padding: 0 2px;
}
.popover-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.tooltip-container {
     display: flex;
     justify-content: center;
     align-items: center;
}

.tooltip-paragraph b, i{
    padding: 0 2px;
}
