@import url('@scania/tegel/dist/tegel/tegel.css');

html,
body,
.App,
#root{
    height: 100%;
    overflow-y: auto;
  }

.App {
    display: flex;
    flex-direction: column;
}

.App.sdds-mode-light {
    background-color: var(--sdds-white);
}

.App.sdds-mode-dark {
    background-color: var(--sdds-black);
}

.mode-switcher {
    position: absolute;
    height: 60px;
    top: 96px;
    right: 32px;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    max-width: 600px;
    justify-content: center;
    margin: 0 auto;
    padding: 128px 0;
}
